.TypeSync_main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  text-align: center;
  text-overflow: clip;
}
.TypeSync_main h1 {
  font-size: clamp(20px, 5vw, 25px);
  white-space: nowrap; /* keep text in one line */
  overflow: hidden; /* hide overflow */
  text-overflow: ellipsis; /* add ... */
  max-width: 100%; /* prevent overflow */
}
